.nx/installation
.nx/cache
.nx/workspace-data
node_modules

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
/.qodo/
/.idea/
**/dist/
**/service-account.json
**/logs

**/*.log
**/coverage/
**/.env
**/.env*
!**/.env.example
functions/.env
functions/.env*
!functions/.env.example
tsconfig.tsbuildinfo

.vscode/
.history
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

**/report*

vite.config.*.timestamp*
vitest.config.*.timestamp*

.eslintcache
