rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && request.auth.token.role == 'admin'; }
    function isAdminOrSuperadmin() {
      return isSignedIn() && request.auth.token.role in ['admin','superadmin'];
    }
    function isSettingPaymentToPaid() {
      return ('payment' in request.resource.data)
          && ('status' in request.resource.data.payment)
          && request.resource.data.payment.status == 'paid'
          && resource.data.payment.status != 'paid';
    }
    function isModifyingRestrictedFields() {
      return (('internalTags' in request.resource.data &&
               request.resource.data.internalTags != resource.data.internalTags)
           || ('delivery' in request.resource.data &&
               'sla' in request.resource.data.delivery &&
               request.resource.data.delivery.sla != resource.data.delivery.sla));
    }

    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdminOrSuperadmin();
    }

    match /categories/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdminOrSuperadmin();
    }

    match /themes/{themeId} {
      allow read: if true;
      allow create, update, delete: if isAdminOrSuperadmin();
    }

    match /landingPage/{pageId} {
      allow read: if true;
      allow create, update, delete: if isAdminOrSuperadmin();
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow read, update, delete: if isSignedIn() && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;

      allow read: if isSignedIn() && (
        request.auth.uid == resource.data.userId || isAdminOrSuperadmin()
      );

      allow update: if isSignedIn() && (
        (request.auth.uid == resource.data.userId &&
          !isModifyingRestrictedFields() &&
          !isSettingPaymentToPaid())
        || isAdminOrSuperadmin()
      );

      allow delete: if isAdminOrSuperadmin();
    }

    match /abandonedCarts/{clientSecret} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, get, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isAdminOrSuperadmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
